# Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente Virtual
printer_monitor/venv/
venv/
.venv/
ENV/
env/

# Arquivos de Sistema
.DS_Store

# Arquivo de Configuração Local (NÃO ENVIAR!)
config.json

BambuData.txt
data.json
node_modules/*
package-lock.json
note.json
accessToken.json

# Arquivos de Log
*.log