# Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente Virtual
printer_monitor/venv/
venv/
.venv/
ENV/
env/

# Arquivos de Sistema
.DS_Store

# Arquivo de Configuração Local (NÃO ENVIAR!)
config.json
maintenance_data.json
subscriptions.json

BambuData.txt
data.json
node_modules/*
package-lock.json
note.json
accessToken.json

# Arquivos de Log
*.log
flask_app.log
tailscale_funnel.log

# Banco de dados SQLite
*.db
*.sqlite
*.sqlite3

# Relatório de implementação
relatorio_implementacao.md