{
  "PRINTER_IP": "<IP_DA_SUA_IMPRESSORA_AQUI>",
  "ACCESS_CODE": "<SEU_CODIGO_ACESSO_LAN_AQUI>",
  "DEVICE_ID": "<SEU_NUMERO_SERIE_AQUI>",
  "CAMERA_URL": "<URL_STREAM_CAMERA_AQUI_ex_http://192.168.X.Y:ZZZZ/?action=stream>"
} 