{
  "PRINTER_IP": "192.168.1.100",
  "ACCESS_CODE": "00000000",
  "DEVICE_ID": "0123456789ABCDEF",
  "CAMERA_URL": "http://192.168.1.100:8080/?action=stream",
  "SECRET_KEY": "chave_secreta_muito_segura_substitua_esta",
  "LOGIN_USERNAME": "admin",
  "LOGIN_PASSWORD_HASH": "pbkdf2:sha256:260000$9Rxrn6sezfYiJOA5$e72b33f74cbb3822ab12ab088fe9938f2e69eb127c8f1d30b802c22d62d02f01",
  "MQTT_HOST": "localhost",
  "MQTT_PORT": 1883,
  "MQTT_TLS_ENABLED": false,
  "MQTT_USERNAME": "",
  "MQTT_PASSWORD": ""
} 